section { 
	width: 80%;
	max-width: 40rem;
	margin: 0 auto;
	display: grid;
	font-size: 1.2rem;
}

label {
	display: block;
	margin: .5rem;
}

label.required::before {
	content: "*";
	color: red;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 40rem;
	display: block;
}

textarea {
	min-height: 5rem;
}

input[type="submit"] {
	min-height: 2rem;
	min-width: 5rem;
	font-size: 1rem;
	cursor: pointer;
	float: right;
}

label[data-v_char-counter] {
	position: relative;
}

label[data-v_char-counter]:focus-within::after {
	position: absolute;
	top: 0;
	right: 0;
}

.info-display {
	display: none;
}

.info-display:not(:empty) {
	display: block;
	color: white;
	border-radius: 1rem;
	padding: 2rem;
}

.info-display.faliure:not(:empty) {
	background-color: #bb0000;
}

.info-display.success:not(:empty) {
	background-color: darkgreen;
}