label[data-v_char-counter] {
	/* For browsers that aren't Edge */
}

label[data-v_char-counter]::after {
	content: attr(data-v_char-counter);
	font-size: 1rem;
	color: slategray;
}

label[data-v_char-counter]:focus-within::after {
	content: attr(data-v_char-counter);
	font-size: 1rem;
	color: slategray;
}

label[data-v_char-counter]:not(:focus-within)::after {
	content: "";
}

label[data-v_error-output]::after {
	content: attr(data-v_error-output);
	font-size: 1rem;
	color: #bb0000;
}

label[data-v_error-output]:not(:focus-within)::after {
	content: attr(data-v_error-output);
	font-size: 1rem;
	color: #bb0000;
}

label[data-v_error-output]:focus-within::after {
	content: "";
}

label[data-v_error-output]:not(:focus-within):not([data-v_error-output=""]) input {
	outline: 2px solid #bb0000;
	outline-offset: 1px;
}

