body {
	color: rgb(230,128,0);
	background-color: black;	
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 100px rgb(230,128,0) inset;
    -webkit-text-fill-color: black;
}

input[type=text], input[type=password], input[type=email] {	
	background-color: rgb(230,128,0);
	color: black;
}

textarea {
	border-color: rgb(230,128,0);
}