body {
	background-color:white;
}

a:hover {
	color:blue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 100px black inset;
    -webkit-text-fill-color: white;
}

input[type=text], input[type=password], input[type=email] {	
	background-color: black;
	color: white;
}

textarea {
	border-color: black;
}